*.classpath
*.DS_Store
*.idea
*.project
*.class

*.settings/

target
target/
bower_components/
node_modules/
dist/
.idea/
.tmp/
.settings
.metadata/
*.iml
*.log
*.tmp
*.bak
goals-engine/src/test/resources/**/output/
